{{=<% %>=}}
\documentclass[letter]{article}
    \usepackage{fullpage}
    \usepackage{amsmath}
    \usepackage{enumitem}
    \usepackage{amssymb}
    \usepackage{textcomp}
    \usepackage{hyperref}
    \usepackage[utf8]{inputenc}
    \usepackage[T1]{fontenc}
    \usepackage[margin=0.75in]{geometry}
    \usepackage{bibentry}
    \usepackage{natbib}
    \textheight=10in
    \pagestyle{empty}
    \raggedright%

\usepackage{hyperref}
\hypersetup{
    colorlinks=true,
    urlcolor=blue,
}

    \include{definitions}

    \begin{document}
        \vspace*{-40pt}

<%#bio_data%>
    %%%%%%%%%%%%%%%%%%%%%%%
    % CONTACT INFORMATION %
    %%%%%%%%%%%%%%%%%%%%%%%
        \contact{<%&firstname%> <%&familyname%>} {<%&location%> $\cdot$ \href{mailto://<%&email%>}{\underline{<%&email%> }} $\cdot$ <%&phone%> $\cdot$ \href{<%&website%>} {\underline{<%&website%>}}}

	%%%%%%%%%%%%%
	% EDUCATION %
	%%%%%%%%%%%%%
	<%#education%>
	    \header{Education}
	    <%#schools%>
		    \school{<%&institution%>}{<%&location%>} {<%&degree%>}{\textit{<%&gpa%>}}{<%&graduation_year%>}
		    \vspace{\interspace}
	    <%/schools%>
	    \vspace{-\interspace}
	<%/education%>


        %%%%%%%%%%
        % SKILLS %
        %%%%%%%%%%

        <%#skills%>
            \header{Skills}
            \skills <%#details%> {<%#items%><%name%><%^last%>, <%/last%><%/items%>} <%/details%>
        <%/skills%>

    %%%%%%%%%%%%%%
    % EXPERIENCE %
    %%%%%%%%%%%%%%

        <%#experience%>
            \header{Experience}
            <%#items%>
                <%#resume%>
                    \employer{<%&organisation%>}{<%&location%>}
                    {<%&title%>}{<%&date%>}
                    <%#details%>{<%& . %>}<%/details%>
		    \vspace{\interspace}
                <%/resume%>
            <%/items%>
	    \vspace{-\interspace}
        <%/experience%>

    %%%%%%%%%%%%
    % PROJECTS %
    %%%%%%%%%%%%

    <%#projects%>
        \header{Projects}
        <%#items%>
            <%#first%>
                \project{\href{<%&link%>}{<%&title%>}}{<%&technologies%>}
                <%#details%>{<%& . %>}<%/details%>
            <%/first%>
        <%/items%>
    <%/projects%>

    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    % LEADERSHIP AND INVOLVEMENT %
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

        <%#organisations%>
            \header{Leadership and Involvement}
            <%#items%>
                <%^position%>
                    \textbf{<%&name%>} \hfill <%&location%>\\<%&date%>\\
                    <%#positions%>
		    	\textit{<%&title%>}\hfill{}<%&date%>\\
                    <%/positions%>
                <%/position%>
                <%#position%>
                    \textbf{<%&name%>} \hfill <%&location%>\\
		    \textit{<%&position%>}\hfill{}<%&date%>\\
                <%/position%>
		\vspace{\interspace}
            <%/items%>
	    \vspace{-\interspace}
        <%/organisations%>


    %%%%%%%%%%
    % AWARDS %
    %%%%%%%%%%

    <%#awards%>
        \header{Awards}
        <%#items%>
            \award{<%&award%>}{<%&date%>}
        <%/items%>
        <%/awards%>
<%/bio_data%>
\end{document}
